@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
* {
    color: white;
    font-family: 'Teko', sans-serif;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 99%;
    height: 100px;
    background-color: #e12e5b;
    margin-left: .5%;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 2% 0 0 0;
}
#table{
    width: 100%;
}
table, th, td {
    padding: 1.5%;
    border: 1px solid white;
    text-align: center;
}

th {
    background-color: #e12e5b;
}

#scForm {
    width: 17%;
    height: 225px;
    background-color: #633f3f61;
    padding: 1% 1% 1% 1%;
    float: left;
    margin: 7% 0 0 12%;
    text-align: center;
}


#scTable {
    width: 50%;

    background-color: #633f3f61;
    padding: 1%;
    float: left;
    margin: 7% 0 0 5%;
}

#date, #wish {
    color: black;
    width: 220px;
    height: 40px;
    font-size: 1.1em;
    border: 0px solid white;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 25px;

}

#sub {
    width: 240px;
    height: 40px;
    color: white;
    font-size: 1.4em;
    background-color: #e12e5b;
    margin: 1% 0 0 1%;
    box-shadow: #fff 0px 1px 0.2em;
    border: 1px solid black ;
    border-radius: 3px;    
}

.lable{
    font-size: 1.6em;
}

#scTable h2 {
    color: white;
    text-align: center;
    font-size: 1.8em;
    padding: 3% 0 2.5% 0;
}

button{
    background-color: #e12e46;
    width: 26%;
}